<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-epson-epos2"
    version="1.0.0">
    <name>Cordova Plugin ePOS2</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/aelx311/cordova-plugin-epos2.git</repo>
    <issue> https://github.com/aelx311/cordova-plugin-epos2/issues</issue>

    <!-- android -->
    <platform name="android">
      <js-module src="www/plugin.js" name="plugin">
        <runs/>
        <clobbers target="cordova.epos2" />
      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="epos2">
          <param name="android-package" value="com.cordova.plugin.epos2Plugin" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <config-file target="AndroidManifest.xml" parent="/*">
        <uses-permission android:name="android.permission.BLUETOOTH"/>
        <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
        <uses-permission android:name="android.permission.INTERNET"/>
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
        <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
      </config-file>

      <source-file src="src/android/epos2Plugin.java" target-dir="src/com/cordova/plugin" />
      <source-file src="src/android/arm64-v8a/libepos2.so" target-dir="libs/arm64-v8a/" />
      <source-file src="src/android/armeabi-v7a/libepos2.so" target-dir="libs/armeabi-v7a/" />
      <source-file src="src/android/armeabi/libepos2.so" target-dir="libs/armeabi/" />
      <source-file src="src/android/x86_64/libepos2.so" target-dir="libs/x86_64/" />
      <source-file src="src/android/x86/libepos2.so" target-dir="libs/x86/" />
      <lib-file src="src/android/ePOS2.jar" target-dir="libs/" />
    </platform>

    <platform name="ios">
      <js-module src="www/plugin.js" name="plugin">
        <runs/>
        <clobbers target="cordova.epos2" />
      </js-module>

      <config-file target="config.xml" parent="/*">
        <feature name="epos2">
          <param name="ios-package" value="epos2Plugin" onload="true" />
        </feature>
      </config-file>

      <config-file target="*-Info.plist" parent="UISupportedExternalAccessoryProtocols">
        <array>
          <string>com.epson.escpos</string>
        </array>
      </config-file>

      <header-file src="src/ios/ePOS2.h" />

      <header-file src="src/ios/epos2Plugin.h" />
      <source-file src="src/ios/epos2Plugin.m" />

      <source-file src="src/ios/libepos2.a" framework="true" />

      <framework src="libxml2.2.dylib" framework="true" />
      <framework src="ExternalAccessory.framework" framework="true" />
    </platform>
</plugin>
